.row {
  margin-left: 20px;
  color: #fff;
}
.row_posters {
  display: flex; /*Display the pics horizontally*/
  overflow-y: hidden; /*To limit the horizontal scroll to that row*/
  /* overflow-x: scroll; */
  padding: 20px;
}
.row_posters::-webkit-scrollbar {
  display: none; /*Tell the browser to not show the scroll bar */
}

.row_poster {
  object-fit: contain;
  transition: transform 450ms;
  margin-right: 10px;
  border-radius: 0.3rem;
  max-height: 100px;
}

.row_movie_container:hover {
  transform: scale(1.08);
}

.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge.hover {
  transform: scale(1.09);
}

.row_movie_title {
  font-size: 0.75rem;
  font-weight: 800;
  width: 90%;
  text-align: center;
  font-variant-caps: all-small-caps;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.row_movie_container {
  position: relative;
  width: 100%;
}
.row_movie_title_large {
  top: 93%;
}
